html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  /* managing size AND THE position */
  width: 200px;
  margin: auto;
  line-height: 9;
  /* text */
  font-size: 1.1rem;
  /* here the initial font-size is 16px so that the correct
      size can be 1.1rem. */
  text-align: center;
  color: white;
  /* choosing a text colour with contrash! */
  text-shadow: 1px 1px 1px black;
